<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a class="navbar-brand">Scraam</a>
      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          Proyecto... <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li *ngFor="let proyecto of proyectos"
          	role="menuitem">
          	<a class="dropdown-item" (click)="verProyecto(proyecto._id)">{{proyecto.nombre}}</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/nuevoProyecto']">CREAR PROYECTO</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
<base href="/"/>
<router-outlet></router-outlet>
<body>
</body>
