<div style="margin-top: 50px;">
  <div class="borders" id="north">{{proyecto.nombre}}</div>
  <div class="row">
    <div class="col-sm-8">
      <detalleMilestone [milestone]="milestoneSeleccionada" [hidden] =" !detallesMilestone"></detalleMilestone>
    </div>
    <div class="col-sm-4">
      <div class="borders" id="north">Milestones</div>
        <br>
        <ul *ngFor="let m of proyecto.milestones" style="cursor: pointer; cursor: hand;">
          <li (click)=onVerDetalles(m)>{{m.nombre}}</li>
        </ul>
        <br>
        <form class="form-inline">
          <div class="form-group">
            <label for="nuevoMilestone">Nuevo Milestone</label>
            <input type="text"
              class="form-control"
              [(ngModel)]="milestone.nombre"
              placeholder="Nombre"
              name="nuevoMilestone"
              id="nuevoMilestone">
          </div>
          <button type="button" class="btn btn-primary"
          (click)="onCrearMilestone()"
          [disabled]="!milestone.nombre">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </button>
        </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
