
<div style="margin-top: 60px;">
  <div class="row">
    <div class="col-sm-6">
      <nuevoMilestone [hidden] ="!service.nuevoMilestoneVisible" ></nuevoMilestone>
    </div>
    <div class="col-sm-4">
      <div>
          <div align="center">Milestones</div>
          <div class="row" *ngFor="let m of proyecto.milestones">
              {{m.nombre}}
          </div>
          <button type="button" class="btn btn-primary"
              (click)="onCrearMilestone()">
                Crear Milestone
          </button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
