<div align="center" style="margin-top: 60px;">
  <div class="form-group">
      <label>Nombre:</label>
      <input type="text"  name="nombre" class="form-control" [(ngModel)]="milestone.nombre" aria-describedby="emailHelp" placeholder="Nombre">
  </div>
  <div class="form-group">
      <label >Descripcion:</label>
      <input type="text" class="form-control" name="descripcion" [(ngModel)]="milestone.descripcion" placeholder="Descripcion">
  </div>
  <div align="center">
    <button type="button" class="btn btn-primary"
        (click)="onCrearMilestone()">
          Crear Milestone
    </button>
  </div>
</div>
<router-outlet></router-outlet>
