<div align="center">
  <h2>{{epicConMilestone.epic.nombre}}</h2>
</div>
<div align="center" style="margin-top: 60px;">
  <div class="form-group">
      <input type="text" id="nuevaTareaInput"
        name="descripcion"
        class="form-control"
        [(ngModel)]="tarea.descripcion"
        placeholder="Crear">
  </div>
  <div align="center">
    <button type="button" id="nuevaTareaButton"
      class="btn btn-primary"
      (click)="onCrearTarea()">
      Crear Tarea
    </button>
  </div>
</div>
