
<div style="margin-top: 60px;">
  <div class="row">
    <div class="col-sm-4">
      <div align="center" *ngIf="milestone">
          <div class="row">
            <label>Milestone -> {{milestone.nombre}}</label>
          </div>
          <!--mostrar comentarios -->
          <div>
            <label>Total de Tareas -> {{totalTareas}}</label>
          </div>
      <div>
      <div>
        <div align="center">Tareas</div>
          <div class="row" *ngFor="let t of milestone.epics[0].tareas">
              {{t.descripcion}}
          </div>
          <nuevaTarea *ngIf="milestoneSeleccionada" [milestone]="milestone" (eventoRefresco)="contarTareas($event)" ></nuevaTarea>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
